html,
body,
#app {
  height: 100%;
}
#app {
  min-height: 100%;
  /* //display: flex;
  //flex-direction: column; */
}
.main-content {
  /* //flex: 1; */
}
.footer {
  margin-top: -12px;
}
@media screen and (max-width: 768px) {
  #menu-toggle:checked + .nav-menu {
    display: block;
  }
}

/* new css */
.ra-aside
{
  background-color: #e5e3e0;
  max-width: 175px;
  height:100vh;
  overflow-y: auto;

  
}

.ra-aside-menu-list > li > a:hover
{
  background-color:black;
 color:white;
}
.ra-aside-menu-list > li > a .ion
{
 margin-right:10px;
}



.ra-aside-menu-list > li > a
{
  display:block;
  color:black;
  padding: .5em .75em;
}


.ra-aside-menu-list .ra-aside-menu-sub-list >li
{
text-align: center;

}
 .ra-aside-menu-sub-list >li > a
{
  display:block;
  color:black;
  padding: .5em .75em;
}

 .ra-aside-menu-sub-list >li:hover
{
  background-color:black;
 color:white;
}
 .ra-aside-menu-sub-list >li >a:hover
{
  background-color:black;
 color:white;
}

.ra-aside-menu-sub-list >li >a .ion
{
 margin-right:10px;
}